name: build

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      
      - run: uv run --frozen mypy -p aigraph
      - run: uv run --frozen ruff check aigraph